# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing / QA
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Output
results/
data/
